<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Users\Jona\Desktop\mercadoLiebre\\public\css">
  <title>Mercado Liebre</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <link rel="preconectar" href="https://fonts.googleapis.com">
  <link rel="preconectar" href="https://fonts.gstatic.com" crossorigin>




</head>

<body>
  <header>
    <div class="top-header">
      <div class="logo">
        <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
      </div>
      <div class="form" action="#" method="GET">
        <div class="input">Buscar productos, marcas y más</div>
        <div class="submit"><i class="fa fa-search"></i></div>
      </div>
      <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

    <div class="burger-menu">
      <i class="fa fa-bars burger"></i>
    </div>
  </header>
  <section class="banner">
    <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
  </section>
  <main class="caja-login">
    <div class="login-page">

      <form action="/login" method="post">

        <h5>Ingresá con tu cuenta</h5>
        <input type="text" name="usuario" value="" placeholder="Usuario" required>

        <p>

          <input name="password" type="password" value="" class="form-control" id="Contraseña" placeholder="Contraseña">
        </p>

        <button class="envio" type="submit" name="" value="Ingresar">Ingresar</button>
        <button type="reset" name="" value="Cancelar">Atrás</button>

        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        </form>
    </div>

  </main>
  <footer>






  </footer>

</body>

</html>